.header, .footer {
    display: flex;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: azure;
}

.logo {
    width: 100px;
    height: 50px;
    filter: invert(1);
    padding-top: 5px;
    padding-bottom: 5px
}

ul {
    list-style-type: none;
    display:flex;
    margin-left:auto;
    margin-right: 32px;
    gap: 32px;
    align-items: center;
}

.about{
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: azure;
    display:flex; 
    padding: 32px;
    align-items: center;
}

.bio{
    padding: 50px;
}

.richard{
    height: auto;
    width: 90%;
    border-radius: 15px;
}

.bio-text{
    font-size: small;
}

.history{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
}

.cards{
    display:flex;
    flex-wrap:wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.card{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.quotation{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
    display:flex;
    flex-direction: column;
    align-items:flex-end;
    padding: 40px 30px;
    flex-wrap:wrap;
    
}

.quote{
    font-style: italic;
    font-size: larger;
    padding: 15px;
}

.newsletter{
    color: white;
    background-color: black;
    display:flex;
    justify-content: space-between;
}

button{
 border-radius: 8px;
 padding: 8px 15px;
 background-color: transparent;
 color:azure;
}

.newsletter {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 300px 50px 50px;
    margin: 50px
}

#signup {
    display:flex;
    flex-direction:row-reverse;
    justify-content: center;
    align-items: center;
    
}

.newsletter p{
    font-style:italic;
}

.footer{
    display: flex;
    justify-content: center;
    align-items:center;
}

